/* ========= Media Queries para Responsividad ========= */
@media (max-width: 820px) {
    kbd.key-spacebar {
        width: 80px;
    }
}

@media (max-width: 600px) {
    #gameplay-hints {
        width: 90%;
        padding: 1.5rem;
        gap: 1rem;
    }

    #fsBtn,
    #shareBtn,
    #githubBtn {
        display: none;
    }

    #game-stats-overlay {
        width: calc(100% - 20px);
        left: 10px;
        bottom: 10px;
        transform: translateY(120%);
        animation: slideUpHud .6s .5s ease-out forwards;
    }

    @keyframes slideUpHud {
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
